* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace;
    color: #293542;
}

a {
    color: gray;
}

h1 {
    margin: 32px 0;
}

header,
footer {
    padding: 32px;
    text-align: center;
}

footer {
    font-size: 10px;
}

footer ul {
    display: inline-block;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li::after {
    display: inline-block;
    content: '\00b7';
    margin: 0 8px;
}

footer ul li:last-of-type::after {
    display: none;
}

.xterm-viewport::-webkit-scrollbar {
    width: 8px
}

.xterm-viewport::-webkit-scrollbar-track {
    background: transparent;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-width: 0 2px;
}

#root {
    background: whitesmoke;
}

#terminal,
#terminal #bashme {
    height: 100%;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.flex-center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.flex-center-h {
    display: flex;
    justify-content: center;
}

.flex-grow {
    flex-grow: 1;
}

.xterm-viewport {
    overflow-y: auto !important;
}

@media (max-width : 480px) {
    
    #terminal {
        border-radius: 0;
        box-shadow: none;
        padding: .5em;
    }

    #terminal::before,
    #terminal::after {
        display: none;
    }

}